.box
  %h2= link_to @project.cname + @project.version, @project
  %p.summary= @project.desc

.box
  %ul
    %li= link_to '全部', project_docs_path(@project)
    - @project.categories.each do |c|
      %li
        = link_to(c.name, :action => 'category', :cate => c.name)