%h1 Listing admin_projects

%table
  %tr
    %th
    %th
    %th

  - @admin_projects.each do |admin_project|
    %tr
      %td= link_to 'Show', admin_project
      %td= link_to 'Edit', edit_admin_project_path(admin_project)
      %td= link_to 'Destroy', admin_project, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Project', new_admin_project_path
