.box
  %h3 Listing projects
  %table
    %tr
      %th 名称
      %th 版本
      %th 描述

    - @projects.each do |project|
      %tr
        %td= link_to project.cname, project
        %td= project.version
        %td= project.desc
        / %td= link_to 'Show', project
        / %td= link_to 'Edit', edit_project_path(project)
        / %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

  %br

  = link_to 'New Project', new_project_path
