.box
  %h3 Listing projects
  %table
    %tr
      %th 名称
      %th 版本
      %th 描述

    - @projects.each do |project|
      %tr
        %td= link_to project.cname, project_docs_path(project)
        %td= project.version
        %td= project.desc

  %br